{{template "base" .}}

{{define "content"}}
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <div class="card bg-white">
        <div class="card-body p-5">
          {{$req := index .Data "consultationRequest"}}
          <form class="mb-3 mt-md-4" id="consultation_form" action="/consultation" method="post" novalidate>
            <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
            <h1 class="display-4">Consultation Request</h1>
            <div class="mb-3">
              <label for="first_name" class="form-label ">First Name</label>
              <input type="first_name" class="form-control {{with .Form.Errors.Get "first_name"}} is-invalid {{end}}" name="first_name" id="first_name" placeholder="John" value="{{$req.FirstName}}">
              {{with .Form.Errors.Get "first_name"}}
                <label class="text-danger">{{.}}</label>
              {{end}}
            </div>
            <div class="mb-3">
              <label for="last_name" class="form-label ">Last Name</label>
              <input type="text" class="form-control {{with .Form.Errors.Get "last_name"}} is-invalid {{end}}" name="last_name" id="last_name" placeholder="Smith" value="{{$req.LastName}}">
              {{with .Form.Errors.Get "last_name"}}
                <label class="text-danger">{{.}}</label>
              {{end}}
            </div>
            <div class="mb-3">
              <label for="email" class="form-label ">Email address</label>
              <input type="email" class="form-control {{with .Form.Errors.Get "email"}} is-invalid {{end}}" name="email" id="email" placeholder="john.smith@mail.com" value="{{$req.Email}}">
              {{with .Form.Errors.Get "email"}}
                <label class="text-danger">{{.}}</label>
              {{end}}
            </div>
            <div class="mb-3">
              <label for="phone_number" class="form-label">Phone Number</label>
              <input type="tel" class="form-control {{with .Form.Errors.Get "phone_number"}} is-invalid {{end}}" name="phone_number" id="phone_number" placeholder="###-###-####" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}|[0-9]{10}" value="{{$req.PhoneNumber}}">
              {{with .Form.Errors.Get "phone_number"}}
                <label class="text-danger">{{.}}</label>
              {{end}}
            </div>
            <div class="mb-3">
              <label for="date_picker" class="form-label">Date</label>
              <input type="date" class="form-control {{with .Form.Errors.Get "appointment_date"}} is-invalid {{end}}" name="appointment_date" id="date_picker" value="{{$req.Date}}">
              {{with .Form.Errors.Get "appointment_date"}}
                <label class="text-danger">{{.}}</label>
              {{end}}
            </div> 
            <div class="mb-3">
              <label for="time_picker" class="form-label">Time</label>
              <select class="form-select {{with .Form.Errors.Get "appointment_time"}} is-invalid {{end}}" aria-label="Time" name="appointment_time" id="time" value="{{$req.Time}}">
                <option value="" disabled selected hidden>Select a time</option>
                <option value="8:00 AM" {{if eq $req.Time "8:00 AM"}} selected {{end}}>8:00 AM</option>
                <option value="9:00 AM" {{if eq $req.Time "9:00 AM"}} selected {{end}}>9:00 AM</option>
                <option value="10:00 AM" {{if eq $req.Time "10:00 AM"}} selected {{end}}>10:00 AM</option>
                <option value="11:00 AM" {{if eq $req.Time "11:00 AM"}} selected {{end}}>11:00 AM</option>
                <option value="12:00 PM" {{if eq $req.Time "12:00 PM"}} selected {{end}}>12:00 PM</option>
                <option value="1:00 PM" {{if eq $req.Time "1:00 PM"}} selected {{end}}>1:00 PM</option>
                <option value="2:00 PM" {{if eq $req.Time "2:00 PM"}} selected {{end}}>2:00 PM</option>
                <option value="3:00 PM" {{if eq $req.Time "3:00 PM"}} selected {{end}}>3:00 PM</option>
                <option value="4:00 PM" {{if eq $req.Time "4:00 PM"}} selected {{end}}>4:00 PM</option>
                <option value="5:00 PM" {{if eq $req.Time "5:00 PM"}} selected {{end}}>5:00 PM</option>
              </select>
              {{with .Form.Errors.Get "appointment_time"}}
                <label class="text-danger">{{.}}</label>
              {{end}}
            </div>
            <div class="mb-3">
              <input class="form-check-input {{with .Form.Errors.Get "check_box"}} {{end}}" name="check_box" value="checked" type="checkbox" id="invalidCheck" required>
              <label class="form-check-label" for="invalidCheck">
                Agree to <a href="/tos" target="_blank">Terms of Service</a>
              </label>
              {{with .Form.Errors.Get "check_box"}}
                <label class="text-danger">{{.}}</label>
              {{end}}
            </div>
              
            <div class="d-grid">
              <button class="btn btn-outline-dark" id="form_submit" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{{end}}

{{define "js"}}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{{end}}