{{template "base" .}}

{{define "content"}}
<div class="jumbotron">
  <h1 class="display-4">Your IP Address Has Been Recorded</h1>
  <p class="lead">Simple Golang web application that can show your current IP address. </p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-outline-dark" href="/myip" role="button">Whats My IP?</a>
  </p>
</div>
{{end}}