{{template "base" .}}

{{define "content"}}
<div class="container">
<div class="card-group">
  <div class="card">
    <img src="/static/images/basic.png" class="card-img-top" alt="basic">
    <div class="card-body">
      <h5 class="card-title">Basic</h5>
      <p class="card-text">This is a basic package</p>
    </div>
    <div class="card-footer">
      <small class="text-muted"><a class="btn btn-outline-dark" href="#" role="button">Select Package</a></small>
    </div>
  </div>
  <div class="card">
    <img src="/static/images/standard.png" class="card-img-top" alt="standard">
    <div class="card-body">
      <h5 class="card-title">Standard</h5>
      <p class="card-text">This is a standard package</p>
    </div>
    <div class="card-footer">
      <small class="text-muted"><a class="btn btn-outline-dark" href="#" role="button">Select Package</a></small>
    </div>
  </div>
  <div class="card">
    <img src="/static/images/premium.png" class="card-img-top" alt="premium">
    <div class="card-body">
      <h5 class="card-title">Premium</h5>
      <p class="card-text">This is a premium package</p>
    </div>
    <div class="card-footer">
      <small class="text-muted"><a class="btn btn-outline-dark" href="#" role="button">Select Package</a></small>
    </div>
  </div>
</div>
</div>
{{end}}